<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="author" content="{{ meta_author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container" class="container_12">
    <header class="grid_12">

        {% block header %}
        Header goes here
        {% endblock %}

    </header>

    <div class="clear"></div>

    <div id="main" role="main" class="grid_12">

        <div class="flash_messages">
            {% for message in get_flashed_messages() %}
            <div class="flash">
                {{ message }}
            </div>
            {% endfor %}
        </div>

        {% block body %}
        Body goes here.
        {% endblock %}

    </div>

    <div class="clear"></div>

    <footer class="grid_4 prefix_4 suffix_4">

        {% block footer %}
        Copyright 2018, Hillsong Amsterdam
        {% endblock %}

    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>